@import './var.scss';
* {
  z-index: 1;
}
html {
  overflow-x: hidden;
  width: 100%;
  position: initial;
  margin: 0;
  padding: 0;
  z-index: 0;
}
.title {
  font-size: 24px;
  color: $color-gray-dark;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-primary-darkest;
  padding: 24px 0px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section {
  min-height: 600px;
  scroll-margin-top: 200px;
  overflow: hidden;
  padding: 0 40px;
  position: relative;
  z-index: 1;
}

.logo {
  max-height: 45px;
  padding: 0 100px;
  @include for-phone-only {
    padding: 0 30px;
  }
}
.sections {
  display: flex;
  flex-direction: column;
  gap: 300px;
  background-color: $color-primary-darkest;
  z-index: -100;
  padding: 0;
  position: absolute;
  overflow: hidden;

  max-width: 100%;
}
.sun {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  border-top: 0.25px solid rgba(255, 255, 255, 0.1);
  border-left: 0.25px solid rgba(255, 255, 255, 0.1);
  animation: MoveUpDown 4s linear infinite;
  box-shadow: 1px 1px 400px 1px $color-white;
  z-index: 2;
  position: absolute;
  top: -400px;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  transform: translate(-50%, 0);
  z-index: 1000;
}

.sun_container {
  position: relative;
  left: 50%;
}
