@import './var.scss';
.container {
  color: $color-white;
  text-align: center;
  background-color: $color-primary-darker;
  border: 1px solid black;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  padding: 24px;
}
.social {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin: auto;
  padding: 0;
  li {
    svg {
      height: 40px;
    }
  }
}
