@import "./var.scss";
@include for-tablet-landscape-down{
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
    padding: 0 24px;
  }
  
  .icon span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color-white;
    margin-bottom: 4px;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .menu.open .icon span:first-child {
    transform: translateY(6px) rotate(45deg);
  }
  
  .menu.open .icon span:nth-child(2) {
    opacity: 0;
  }
  
  .menu.open .icon span:last-child {
    transform: translateY(-6px) rotate(-45deg);
  }
  
  .items {
    list-style: none;
    padding: 0 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $color-primary-darkest;
    padding: 10px 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    position: fixed;
    top: 50px;
    z-index: 100;
    color: $color-white;
    li{

    list-style: none;
    padding:  16px 0;
    }
  }
  
  .menu.open .items {
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50px;
    z-index: 100;
    background-color: $color-primary-darkest;
  }
}
@include for-tablet-landscape-up{
.navLinks {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: auto 32px;
  padding: 0;
}

.navLinks li {
  cursor: pointer;
  color: $color-white;
  font-weight: bold;
}

.navLinks li:hover {
  text-decoration: none;
}}