@import "./var.scss";

.projects {
  display: grid;
  color: white;
  gap: 32px;
  margin: 24px;
  @include for-tablet-landscape-up{
    grid-template-columns: repeat(2, 1fr);

  }
  @include for-desktop-up{
    grid-template-columns: repeat(3, 1fr);

  }
}
.project {
  background-color: $color-primary-darker;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding:  0 8px;
  justify-content: stretch;
  border-radius: 4px;
  &__title {
    font-size: x-large;
    padding: 8px;
  }
  &__description {
    padding: 8px;
    flex-grow: 1;
  }
  &__link {
    padding: 8px;
    border: solid white 1px;
    border-radius: 4px;
    background-color: $color-primary;
    margin: 16px;
    display: block;
    text-decoration: none;
    color: white;
  }
  .icon {
    height: 48px;
    width: 48px;
    margin: 10px auto;
  }
}
.container {
  padding: 48px 24px;
  text-align: center;
}
