@import './var.scss';

.icon {
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}
.icons {
  color: $color-white;
  padding: 40px;
  margin: auto;
  p {
    text-align: center;
  }
  word-break: break-all;
  @include for-phone-only {
    padding: 20px;
  }
}
.container {
  overflow: hidden;
  display: grid;
  max-width: 800px;
  margin: auto;
  min-height: 400px;
  grid-template-columns: repeat(4, 1fr);
  @include for-phone-only {
    grid-template-columns: repeat(2, 1fr);
  }
}
